.product-form {
    width: 98%;
    margin:0 auto;
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.resalt {
    background: rgba(234, 238, 238, 0.404);
    border-radius: 4px;
    /* border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid; */
}