<mat-card class="form-general">
    <mat-card-title class="text-center">CONTACTANOS</mat-card-title>
    <div class="area-form">
       <h2>Escriba un mensaje</h2>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Jon Doe">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Telefono / Celular</mat-label>
                <input matInput placeholder="+57 3212696821" value="+57 ">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Correo Electronico</mat-label>
                <input matInput placeholder="jon@gmail.com">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Mensaje</mat-label>
                <textarea matInput placeholder="Hola quiero comprar..."></textarea>
              </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Enviar mensaje</button>
          </form>
          <div class="img">
            <img src="assets/images/contact.png">
          </div>
    </div>
    <div class="area-inf">
        <h2>INFORMACIÓN DE CONTACTO</h2>
        <p>juanjcgo33@gmail.com</p>
        <p>+57 (321)2696821</p>
    </div>
    
</mat-card>