.product-table{
    width: 98%;
    margin:0 auto;
    margin-top: 2px;
}

img {
    width: 30px;
    .cates-del {
      margin-left: 3px;
    }
  }

.detaills {
  width: 100%;
  height: 30px;
  background: rgba(57, 69, 238, 0.288);
  table {
    width: 100%;
  }
}